@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Bold.otf') format('opentype');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Light.otf') format('opentype');
    font-weight: light;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Regular.otf') format('opentype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Medium.otf') format('opentype');
    font-weight: medium;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    -webkit-overflow-scrolling: none;
    font-family: "Fira Code", monospace;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #010C15;
    color: #E5E9F0;
}

.no-scroll-bar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.bg-blur-one {
    background: #43D9AD;
    opacity: 0.4;
    filter: blur(174px);
}

.bg-blur-two {
    background: #5565E8;
    opacity: 0.9;
    filter: blur(50px);
}

p, span, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

.project:hover {
    box-shadow: #4D5BCE 0px 2px 5px -2px, #5565E8 0px 3px 7px -3px;
}

input, textarea {
    border: none;
}

input:focus, textarea:focus {
    border: none;
}

input, textarea {
    outline: 1px solid #1E2D3D;
    transition: all ease-in 0.3s;
}

input:focus, textarea:focus {
    outline: 1px solid #607B96;
}

.error {
    outline: 1px solid #f40101;
}

textarea {
    resize: none;
}

.asterisk::before {
    content: "* ";
    color: #607B96;
}

.snap-parent {
    scroll-snap-type: mandatory;
    /* for older browsers */
    scroll-snap-points-y: repeat(100vh);
    /* for older browsers */
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.input-bx-active:active, .input-bx-active:focus {
    box-shadow: rgba(254, 165, 95, 1) 0px 2px 30px -15px;
}

.btn-submit-hover:hover {
    transition: all ease-in 0.3s;
    box-shadow: rgba(254, 165, 95, 0.5) 0px 0px 5px
}

#title {}