@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Light.otf') format('opentype');
    font-weight: light;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Medium.otf') format('opentype');
    font-weight: medium;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: none;
    font-family: "Fira Code", monospace;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #010C15;
    color: #E5E9F0;
}

.no-scroll-bar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.bg-blur-one {
    background: #43D9AD;
    opacity: 0.4;
    filter: blur(174px);
}

.bg-blur-two {
    background: #4D5BCE;
    opacity: 0.4;
    filter: blur(174px);
}